<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/><!DOCTYPE html>
<div class="container" id="main-container">
  <h2>Agregar Profesor</h2>
  <form class="form-horizontal" method="post" action="/professor/add">
    <div class="form-group">
      <label class="control-label col-sm-2" for="dni">Dni:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="dni" name="dni" placeholder="1A" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre1" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="surname">Apellido:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="surname" name="surname" placeholder="Apellido1" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="category">Categoría:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="category" name="category" placeholder="Profesor" required="true" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>