<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container" id="main-container">
    <h2>Eliminar Profesor</h2>
    <form class="form-horizontal" method="post" th:action="${'/professor/delete/' + professor.dni}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="dni">Dni::</label>
            <div class="col-sm-10">
                <input th:value="${professor.dni}" id="dni" type="text" class="form-control" name="dni"
                       placeholder="1A" required="true"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Eliminar</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>